<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GitDemoTH.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>438BB9941CBB32BF00A6CDF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>438BB9A81CBB32C000A6CDF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>438BB9B31CBB32C100A6CDF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
